<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="menu">
        <h1>About</h1>
        <p>The Fluxus art movement created immaterial and transient instructional based propositions for events, performances and social interactions. The notable absence of performances, live events and social gatherings during 2020 led me to rediscover Fluxus artworks that instruct performances, happenings and events and have provided me with small offerings of joy, comfort and Inspiration during periods of forced Isolation. I hope that by showcasing them here and redistributing them via a mobile text service these performative propositions can be enjoyed remotely and collectively and provide some inspiration and hope for imagined events in the future. </p>

        <div id="credits">
        <p>All the artworks have been sourced from <a href="https://www.thing.net/~grist/ld/fluxusworkbook.pdf">The Fluxus Performance Workbook</a> <br>
            A Performance Research e-publication
            Edited by Ken Friedman, Owen Smith and Lauren Sawchyn (2002) </p></div>
    </div>

    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>