<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="animate__animated animate__backInDown">
        <div class="menu">
        <h1></h1>
        <div id ="artwork"></div>
        <div id ="artist"></div>

        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
<script>
const directoryPath =  ('/assets/artists/')

function Choose_Artist(data,success) {
    var Chosen_Artist = artists_list[Math.floor(Math.random() * artists_list.length)];
    var path = directoryPath+Chosen_Artist;
    console.log(path)
    $.getJSON(path, function(data){
    const JSONObject = JSON.parse(data);
    console.log(JSONObject);
    data = data;
    key = (Object.keys(JSONObject))
    values = (Object.values(JSONObject))
  })
  .done(function() {
  artist_name = Chosen_Artist.slice(0, -5)
  var randomnumber = Math.floor(Math.random() * (key.length))
  $("h1").text(key[randomnumber])
  $("#artwork").text(values[randomnumber])
  $("#artist").text(artist_name)


})
.fail(function(){
  
    console.log("An error has occurred.");
  
  })
};
Choose_Artist();
</script>


</html>

